:root {
  --main: "#1C2F75";
  --second: "#859EF7";
}

html, body {
  padding: 0;
  margin: 0;
  --main: "#1C2F75";
  --second: "#859EF7";
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}